@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add A Movie";
}

@model MovieAdd

<h2>Add a movie!</h2>
<h3>Enter movie info below.</h3>

<div>
    <form method="post">

        <div asp-validation-summary="All"></div>


        <label asp-for="Title">Title:</label>
        <input asp-for="Title" /><br />

        <label asp-for="CategoryID">Category:</label>
        <select asp-for="CategoryID">
            <option value="">Select a Category</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryID">@c.CategoryName</option>
            }
        </select><br />

        <label asp-for="Director">Director:</label>
        <input asp-for="Director" /><br />

        <label asp-for="Rating">Rating:</label>
        <select asp-for="Rating">
            <option>G</option>
            <option>PG</option>
            <option>PG-13</option>
            <option>R</option>
        </select>

        <label asp-for="Edited">Edited:</label>
        <select asp-for="Edited">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />

        <label asp-for="Lent_To">Lent to:</label>
        <input asp-for="Lent_To" /><br />

        <label asp-for="Note">Notes:</label>
        <input asp-for="Note" /><br />

        <button type="submit">Submit</button>

    </form>


</div>